# -------------- IDEs --------------

.vscode
.idea

# -------------- Files --------------

.env

# -------------- Git --------------

.gitignore

# -------------- Docker --------------

Dockerfile
.dockerignore
